pandas
config
PyYAML
matplotlib
numpy
natsort
toml
scipy
pyarrow

toshi-hazard-post @ git+https://github.com/ucgmsim/toshi-hazard-post.git@feature/documentation-v2_get_realizations
nzshm-model @ git+https://github.com/ucgmsim/nzshm-model.git@srm-trt-merge-digest_version_hack