pandas
config
PyYAML
matplotlib
numpy
natsort
toml
scipy
pyarrow


## GNS Science packages from GitHub
## format: git+https://github.com/username/repo_name.git@branch_or_tag#egg=package_name
git+https://github.com/GNS-Science/nzshm-common-py.git@pre-release#egg=nzshm_common_py
git+https://github.com/GNS-Science/nzshm-model.git@srm-trt-merge-digest#egg=nzshm_model
git+https://github.com/GNS-Science/toshi-hazard-post.git@feature/documentation-v2#egg=toshi_hazard_post
git+https://github.com/GNS-Science/toshi-hazard-store.git@pre-release#egg=toshi_hazard_store
